.centerLogin {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
}

.form {
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    padding: 40px;
    width: 40%;
}

.title {
    display: flex;
    justify-content: center;
    font-weight: bold;
}

.inputLogin {
    margin-top: 5px;
    margin-bottom: 10px;
    height: 30px;
    border-radius: 4px;
}

.submit {
    margin-top: 10px;
    background-color: #56AB91;
    color: #fff;
}

.icon {
    width: 30px;
}

.smbtn {
    width: 50%;
    border-radius: 10px;
      display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
}

.or {
    display: flex;
    justify-content: center;
}

.alinear {
    display: flex;
    gap: 20px;
}

.toSignup {
    display: flex;
    justify-content: center;
    gap: 5px;
}