
/* ITEM LIST */

.imgbq{
    background-color: #fffA;
    padding: 2em;
    min-height: 100vh;
    min-width: 100vw;
}

@media screen and (min-width:300px) {
    .alinearProductos{
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        gap: 25px;
        align-items: center;
        padding: .5rem;

    }

}

@media screen and (min-width:600px) {
    .alinearProductos{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }
}

@media screen and (min-width:900px) {
    .alinearProductos{
        display: grid;
        grid-template-columns: repeat(3, 1fr);
    }
}

@media screen and (min-width:1200px) {
    .alinearProductos{
        display: grid;
        grid-template-columns: repeat(5, 1fr);
        margin: 0;
        gap: 25px;
    }
    .cards{
        width: 85%;
    }
}